{% load i18n %}
{% load widget_tweaks %}

<h3 class="filter-title text-center">
    {% trans "Refine Search"|upper %}
</h3>
<form method="get" action="{% url 'search:search' %}" class="filter-form form-horizontal col-lg-12 col-md-12">

    <div class="form-group text-center">
        {% render_field search_form.q label='' placeholder='Keywords or part number' class+="search-field" %}
    </div>
    <div class="form-group text-center">
        <button type="submit" class="search-button btn btn-primary col-sm-8">
            {% trans "Search"|upper %}
        </button>
    </div>
</form>

<script>
    
</script>