/*
Basket style sheet file
Marine Parts Colors:

Deep Blue: #11274F;
Mid Blue: #0d4a6c;
Light Blue: #25ACCB;
Light Gray: #e6e6e6;

*/

/*Title*/
.page-header h1{
    font-size: 22.4px;
    line-height: 2.14285714;
    font-weight: normal;
}

/*Breadcrum*/
.breadcrumb{
    background-color: #0d4a6c;
    border-radius: 0px;
}

.breadcrumb li a{
    color: #FFFFFF;
    font-family:  'Gotham Bold';
}

.breadcrumb > li + li:before{
    color: #FFFFFF;
}

.breadcrumb li.active{
    color: #FFFFFF;
    font-family:  'Gotham Bold';
    font-weight: bold;
}

/*Page header*/
.page-header{
    border-bottom: 1px solid #0d4a6c;
}

.page-header h1{
    font-family: 'Gotham Bold';
    color: #0d4a6c;
}

/*Content styles*/
.basket-title div .h3{
    font-family: 'Gotham Bold';
    color: #0d4a6c;
}

.basket-items{
    background: transparent !important;
    border: 1px solid #0d4a6c;
}

.basket-items div h3 a{
    font-family: 'Gotham Bold';
    color: #0d4a6c;
}

.basket-items div p.price_color,
.basket-items div p.availability{
    color: #25ACCB;
}

.basket-items div .checkout-quantity div .quantity{
    background-color: #0d4a6c;
    color: #FFFFFF;
    border-radius: 0px;
}

.sub-header{
    border-bottom: 1px solid #0d4a6c;
}

.sub-header .h3{
    font-family: 'Gotham Bold';
    color: #0d4a6c;
}

.voucher_form_link a{
    background-color: #0d4a6c;
    color: #FFFFFF;
}

.voucher_form_link a:hover{
    color: #FFFFFF;
}

.table-condensed tbody tr th{
    font-family: 'Gotham Bold';
}

.table-condensed tbody tr th h3{
    color: #0d4a6c;
}

.table-condensed tr th.total,
.table-condensed tr td.total{
    background-color: #FFFFFF !important;
    border-bottom: 1px solid #25ACCB;
    border-top: 1px solid #25ACCB;
    color: #25ACCB;
}

.table-condensed tr td.total .price_color{
    color: #25ACCB;
}

.checkout-button a{
    font-family: 'Gotham Bold';
}
