/*
Footer style sheet file
Marine Parts Colors:

Deep Blue: #11274F;
Mid Blue: #274164;
Light Blue: #25ACCB;
Light Gray: #e6e6e6;

*/

.footer .footer_links{
    background-color: #274164;
    border: none;
    border-radius: 0px;
    padding: 15px 15px;
}

.footer .footer_links .nav div.text-center{
    margin-top: 3%;
}

.footer .footer_links .nav div.language-bar{
    margin-top: 2.25%;
}

.footer .footer_links .nav div a{
    color: #FFFFFF;
    font-family: "Gotham Book";
    font-size: 18px;
}

.footer .footer_links .nav div a.brand img{
    padding-top: 0px;
    padding-bottom: 0px;
    float: none;
    margin-right: auto;
    margin-left: auto;
}
