/*
Layout style sheet file
Marine Parts Colors:

Deep Blue: #11274F;
Light Blue: #25ACCB;
Light Gray: #e6e6e6;

*/

.navbar{
    height: 110px;
}

.navbar-default{
    border-color: #e6e6e6;
    background-color: #e6e6e6;
}

.navbar-header{
    width: 20%;
}

.navbar-brand{
    padding: 5px 5px 5px 5px;
    height: 110px;
}

.navbar-collapse{
    padding-top: 2.5%;
}

.navbar-form{
    margin-right: 0px;
}