{% extends "layout.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block extrastyles %}
    <link rel="stylesheet" type="text/css" href="{% static "oscar/css/basket.css" %}" />
{% endblock extrastyles %}

{% block top_banner %}
    {% block top_banner_title %}
        <h2 class="text-center top_banner_title">
            {% trans "Cart and Checkout" %}
        </h2>
    {% endblock top_banner_title %}
{% endblock top_banner %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        </li>
        <li class="active">{% trans "Basket"|capfirst %}</li>
    </ul>
{% endblock %}

{% block title %}
    {% trans "Basket" %} | {{ block.super }}
{% endblock %}


{# Hide mini-basket so we don't have two baskets to keep in sync #}
{% block mini_basket %}{% endblock %}

{% block headertext %}
        {% trans "Basket"|upper %}
{% endblock %}

{% block content %}
    {# Use a partial template so that AJAX can be used to re-render basket #}
    {% include 'basket/partials/basket_content.html' %}
{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    {# We pass in the URL to send AJAX requests to #}
    var options = {
        'basketURL': '{% url 'basket:summary' %}'
    };
    oscar.basket.init(options);
{% endblock %}
