{% load static%}
{% load staticfiles %}
{% load i18n %}

<div class="container-fluid customer-service">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 info">
            <h1 class="text-center">
                {% trans "Customer Service" %}
            </h1>
            <p class="text-center text-uppercase">
                {% blocktrans %}For obtaining information of a part, please fill the form in the link below.{% endblocktrans %}
            </p>
            <h2 class="text-center text-uppercase">
                <span class="icon icon-phone"></span> {% trans "Call" %} 305-883-4400
            </h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 time">
            <h1 class="text-center">
                {% trans "Available" %}
            </h1>
            <h3 class="text-center text-uppercase">
                {% trans "Monday" %} - {% trans "Friday" %}
            </h3>
            <h3 class="text-center text-uppercase hours">
                9:00 AM {% trans "To" %} 5:00 PM EST.
            </h3>
        </div>
    </div>
</div>
