{% load static%}
{% load staticfiles %}
{% load currency_filters %}
{% load i18n %}

<footer class="footer container-fluid">
    {% block footer %}
        <div class="footer_links inline navbar primary navbar-static-bottom navbar-default">
            <div class="nav navbar-nav row">
                <div class="col-lg-2 col-md-2 language-bar">
                    {% if LANGUAGES|length > 1 %}
                        <form id="language_selector" action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ language_neutral_url_path }}" />
                            <div class="form-group">
                                <select name="language" class="form-control" id="language">
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE%} selected="selected"{% endif %}>
                                            {{ language.name_local | capfirst }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    {% endif %}
                </div>
                <div class="col-lg-1 col-md-1 text-center">
                    <a href="">
                        {% trans "Categories"%}
                    </a>
                </div>
                <div class="col-lg-2 col-md-1 text-center">
                    <a href="">
                        {% trans "Brands"%}
                    </a>
                </div>
                <div class="col-lg-2 col-md-5 hidden-sm hidden-xs">
                    <a class="brand" href="{{ homepage_url }}">
                        <img class="col-lg-8  img-responsive" src="{% static 'img/logo/isotipo-white-small.png' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-2 col-md-1 text-center">
                    <a href="{% url 'customer:notifications-inbox' %}">
                        {% trans "Account" %}
                        <span class="label label-important">{{ num_unread_notifications }}</span>
                        <span class="icon icon-user"></span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-1 text-center">
                    <a href="{% url 'basket:summary' %}">
                        {% trans "Basket" %}
                        <span class="icon icon-cart"></span>
                        {% if not request.basket.is_empty %}
                            {{request.basket.num_items}}
                        {% endif %}
                    </a>
                </div>
                <div class="col-lg-1 col-md-1 text-center">
                    <a href="/accounts/contact/">
                        {% trans "Contact"%}
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}
</footer>
