{% load static%}
{% load staticfiles %}
{% load currency_filters %}
{% load category_tags %}
{% load i18n %}

<div class="header navbar primary navbar-static-top navbar-default container-fluid">
    <div class="row">
        <div class="navbar-header">
            {# This is used in mobile view #}
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".primary-collapse">
                <span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="navbar-collapse primary-collapse collapse">
            {% block nav_dropdown %}
                <div class="nav navbar-nav row">
                    <div class="brand-col col-lg-2 col-md-2 col-sm-2">
                        <a class="logo-brand" href="{{ homepage_url }}">
                            <img class="brand img-responsive" src="{% static 'img/logo/isologo-small.png'%}" alt="">
                        </a>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-2 text-center">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {% trans "Brands" %}
                            </a>
                            <ul class="dropdown-menu" data-navigation="dropdown-menu">
                                {% category_tree depth=2 as tree_categories %}
                                <li><a tabindex="-1" href="{% url 'catalogue:index' %}">{% trans "All products" %}</a></li>
                                {% if tree_categories %}
                                    <li class="divider"></li>
                                    {% for tree_category, info in tree_categories %}
                                        {% if info.has_children %}
                                            <li class="dropdown-submenu">
                                                <a tabindex="-1" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
                                                <ul class="dropdown-menu">
                                                {% else %}
                                                    <li><a tabindex="-1" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a></li>
                                                {% endif %}

                                                {% for close in info.num_to_close %}
                                                    </ul></li>
                                                {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                <li class="divider"></li>
                                <li><a href="{% url 'offer:list' %}">{% trans "Offers" %}</a></li>
                            </ul>
                        </li>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-2 text-center">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {% trans "Categories" %}
                            </a>
                            <ul class="dropdown-menu" data-navigation="dropdown-menu">
                                {% category_tree depth=2 as tree_categories %}
                                <li><a tabindex="-1" href="{% url 'catalogue:index' %}">{% trans "All products" %}</a></li>
                                {% if tree_categories %}
                                    <li class="divider"></li>
                                    {% for tree_category, info in tree_categories %}
                                        {% if info.has_children %}
                                            <li class="dropdown-submenu">
                                                <a tabindex="-1" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
                                                <ul class="dropdown-menu">
                                                {% else %}
                                                    <li><a tabindex="-1" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a></li>
                                                {% endif %}

                                                {% for close in info.num_to_close %}
                                                    </ul></li>
                                                {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                <li class="divider"></li>
                                <li><a href="{% url 'offer:list' %}">{% trans "Offers" %}</a></li>
                            </ul>
                        </li>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 search-bar">
                        {% include "partials/search.html" %}
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 text-center">
                        {% if user.is_authenticated %}
                            {% if num_unread_notifications > 0 %}
                                {# If user has new notifications - we change account link to go to inbox #}
                                <a href="{% url 'customer:notifications-inbox' %}">
                                    <span class="icon icon-user"></span>
                                    <span class="label label-important">{{ num_unread_notifications }}</span>
                                </a>
                            {% else %}
                                <a href="{% url 'customer:summary' %}">
                                    <span class="icon icon-user"></span>
                                </a>
                            {% endif %}
                        {% else %}
                            <a id="login_link" href="{% url 'customer:login' %}">
                                <span class="icon icon-user"></span>
                            </a>
                        {% endif %}
                        <a href="{% url 'basket:summary' %}">
                            <span class="icon icon-cart"></span>
                            {% if not request.basket.is_empty %}
                                {{request.basket.num_items}}
                            {% endif %}
                        </a>
                    </div>
                </div>
            {% endblock %}
        </div><!-- /navbar-collapse -->
    </div>
</div><!-- /navbar -->
